@{
    ViewData["Title"] = "Cadastro de Produtos";
}

<div class="text-center">
    <div class="text-center">
        <h1 class="display-4">Cadastro de Produtos</h1>
        <br />
        <a class="btn btn-primary"role="button" asp-controller="Produto" asp-action="Criar">Cadastrar um novo produto</a>
        <a class="btn btn-light" asp-area="" asp-controller="Produto" asp-action="Lista">Lista de produtos</a>
    </div>
</div>

