@model UsuarioModel

@{
    ViewData["Title"] = "Apagar Usuário";
}

<div class="text-center">
    <h1>Deseja apagar definitivamente o usuário @Model.Nome?</h1>
</div>

<br />

<div class="text-center">
    <a class="btn btn-primary btn-lg btn-block" role="button" asp-controller="Usuario" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar exclusão</a>
    <a class="btn btn-danger btn-lg btn-block" role="button" asp-controller="Usuario" asp-action="Lista">Cancelar exclusão</a>
</div>
