@{
    ViewData["Title"] = "Cadastro de Usuários";
}

<div class="text-center">
    <div class="text-center">
        <h1 class="display-4">Cadastro de Usuários</h1>
        <br />
        <a class="btn btn-primary"role="button" asp-controller="Usuario" asp-action="Criar">Cadastrar um novo usuário</a>
        <a class="btn btn-light" asp-area="" asp-controller="Usuario" asp-action="Lista">Lista de usuários</a>
    </div>
</div>

